<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>DelayArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>DeviceAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DeviceDMX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DeviceMidi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DrawTrajectory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Granulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>HIDDevice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>HSLAColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Matrix - Audio Mix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Matrix - Data Mix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Matrix - Midi Mix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Matrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>PhaseVocoderForw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PhaseVocoderInv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PluginLister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PluginListerExe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PluginWrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PluginWrapperExe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>RGBAColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Reverb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>RollArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SerialPort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Wiimote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E013CEE1A51903B0014ECB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E18F5B217D8F4C6008DB13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9010261BDFB131006E5CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E96DD05174E04C000E28918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EB03942175771AB0090B5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EBEE82417903B380064F440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EC96B6B17D3A46B00F63E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EE391701BA8A71700BB8AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74004DDD16A340E200E060B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749069C316A3EE1C00319C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749069C816A3EEBA00319C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749069D016A3EEF700319C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749069D816A3EF1B00319C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749069E016A3EF5400319C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749069E816A3EFC400319C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749069F016A3EFE300319C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74BC5355151B8D720067DC77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C57A8815751DC8004A6BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C57A9315751E2C004A6BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C57A9B15751E65004A6BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74D3003E15AC7F7900A08C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F4B90C16DCA8C800632763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F4BA2016DCABBC00632763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F4BA2816DCAC0C00632763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
